<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Books</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/books">Your Collection</a>
    </nav>   
    <h1>Add a book to your collection</h1>
    <form action="/books" method="POST">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" />
      <label for="author">Author:</label>
      <input type="text" name="author" id="author" />
      <label for="pageCount">Page Count:</label>
      <input type="text" name="pageCount" id="pageCount" />
      <div>
        <label for="description">Description:</label>
        <textarea
          type="text"
          name="description"
          id="description"
          maxlength="100"
        ></textarea>
      </div>
      <button type="submit">Add Book</button>
    </form>
  </body>
</html>
